#list1:hover ul{
    display: block !important;
}


.list {
    position: relative;
    border: 3px solid wheat;
}
li {
    border: 1px solid skyblue;
    padding: 5px;
    width: 120px;
    list-style-type: none;
    cursor: pointer;
}
ul {
    padding: 8px;

}
/*.main-list {
    border: 1px dashed lightcoral;
}
.main-list li:first-child {
    background-color: skyblue;
}
.main-list li:first-child:hover {
    background-color: seashell;
}
.main-list li:first-child:hover .sub-list {
    display: block;
}*/
.sub-list {
    position: absolute;
    left: 200px;
    top: 0;
}

.father {
    border: 8px solid wheat;
    height: 100px;
}

#div1 {
    border: 3px solid lightblue;
    height: 80px;
    width: auto;
    margin: 0 auto;
    overflow: auto;
}

.input input {
    display: block;
    height: 30px;
    width: 90%;
    border: 1px solid silver;
    margin: 20px auto;
}

/*垂直居中*/
/*.father {
    position: relative;
}
#div1 {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -75px;
}*/

/*水平居中*/
/*#div1 {
    margin: 0 auto;
}*/

/*#div1 {
    position: absolute;
    left: 50%;
    margin-left: -150px;
}*/


/*关于清除浮动的问题*/

/*#div1 {
    border: 3px solid purple;
    height: 150px;
    width: 300px;
    float: left;
}*/

/*清除浮动的第一种方法*/
/*.father {
    overflow: hidden;
}*/

/*清除浮动第二种方法*/
/*.father:after {
    content: '.';
    visibility: hidden;
    display: block;
    clear: both;
    height: 0;
}*/

/*.father:after {
    content: '';
    display: block;
    clear: both;
}*/

/*清除浮动第三种方法*/
/*.clear {
    clear: both;
}*/

/*清除浮动第四种方法，不建议*/
/*.father {
    float: left;
}*/


/*左边div宽度固定，右边自适应*/
/*成功的一个*/
/*#div1 {
    border: 3px solid purple;
    height: 150px;
    width: 300px;
    float: left;
}
#div2 {
    border: 3px solid green;
    height: 150px;
    margin-left: 300px;
}*/

/*也可以成功，跟第一个没有区别*/
/*#div1 {
    border: 3px solid purple;
    height: 150px;
    width: 300px;
    display: inline-block;
    float: left;
}
#div2 {
    border: 3px solid green;
    height: 150px;
    background-color: #aaa;
    margin-left: 300px;
}*/

/*使用position的方法，可行*/
/*.father {
    position: relative;
}
#div1 {
    border: 3px solid purple;
    height: 150px;
    width: 300px;
}
#div2 {
    border: 3px solid green;
    height: 150px;
    background-color: #aaa;
    position: absolute;
    left: 300px;
    top: 0;
    right: 0;
}*/
