/*---------animation example---------*/
#father1 {
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid #3afdd3;
    margin: 0 auto;
}
#son1 {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #ee33dd;
    animation: mymove 5s infinite;
}
@keyframes mymove {
    0% {top:0px; left:0px;}
    25% {top: 0px; left: 100px;}
    50% {top: 100px; left: 100px;}
    75% {top: 100px; left: 0px;}
    100% {top: 0px; left: 0px;}
}
/*-----------animation example-----------*/

/*.wrap {
    border: 2px solid #2311ee;
    height: 200px;
    position: relative;
}*/
/*#div4 {
    border: 2px solid #21e3f1;
    width: 60%;
    height: 40%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}*/
/*#div4 {
    border: 2px solid #21e3f1;
    width: 60%;
    height: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -30%;
    margin-top: -3%;
}*/

.wrap {
    border: 2px solid #2311ee;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#div4 {
    border: 2px solid #21e3f1;
    width: 60%;
    height: 40%;
}
/*圣杯布局*/
#wrap2 {
    margin-top: 30px;
    border: 2px solid #2311ee;
    height: 200px;
    /*display: none;*/
}
#left {
    border: 1px solid red;
    width: 100px;
    height: 100%;
    float: left;
}
#right {
    border: 1px solid red;
    width: 100px;
    height: 100%;
    float: right;
}
#main {
    border: 1px solid blue;
    height: 100%;
    margin: 0 110px;
    /*padding: 0 110px;*/
}


#wrap3 {
    margin-top: 30px;
    border: 2px solid #2311ee;
    height: 200px;
    display: none;
}
#left3 {
    border: 1px solid red;
    width: 100px;
    height: 100%;
    float: left;
}
#right3 {
    border: 1px solid red;
    width: 100px;
    height: 100%;
    float: right;
}
#main3 {
    border: 1px solid blue;
    height: 100%;
    margin: 0 110px;
}





/*flex-box test*/
.father {
    border: 8px solid wheat;
    height: 200px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    min-width: 500px;
}
.son {
    border: 1px solid wheat;
}

#div1 {
    background-color: seashell;
    font-size: 22px;
    flex-grow: 0;
    flex-basis: 240px;

}
#div2 {
    background-color: silver;
    flex-basis: 240px;
    flex-grow: 1;
}
#div3 {
    background-color: linen;
    font-size: 32px;
    flex-grow: 0;
    flex-basis: 240px;
}
/*flex-box test*/


/*sublist test*/
#list1:hover ul{
    display: block !important;
}

.list {
    position: relative;
    border: 3px solid wheat;
}
li {
    border: 1px solid skyblue;
    padding: 5px;
    width: 120px;
    list-style-type: none;
    cursor: pointer;
}
ul {
    padding: 8px;

}
.sub-list {
    display: none;
    position: absolute;
    left: 200px;
    top: 0;
}
/*sublist test*/

.input input {
    display: block;
    height: 30px;
    width: 90%;
    border: 1px solid silver;
    margin: 20px auto;
}

/*垂直居中*/
/*.father {
    position: relative;
}
#div1 {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -75px;
}*/

/*水平居中*/
/*#div1 {
    margin: 0 auto;
}*/

/*#div1 {
    position: absolute;
    left: 50%;
    margin-left: -150px;
}*/


/*关于清除浮动的问题*/

/*#div1 {
    border: 3px solid purple;
    height: 150px;
    width: 300px;
    float: left;
}*/

/*清除浮动的第一种方法*/
/*.father {
    overflow: hidden;
}*/

/*清除浮动第二种方法*/
/*.father:after {
    content: '.';
    visibility: hidden;
    display: block;
    clear: both;
    height: 0;
}*/

/*.father:after {
    content: '';
    display: block;
    clear: both;
}*/

/*清除浮动第三种方法*/
/*.clear {
    clear: both;
}*/

/*清除浮动第四种方法，不建议*/
/*.father {
    float: left;
}*/


/*左边div宽度固定，右边自适应*/
/*成功的一个*/
/*#div1 {
    border: 3px solid purple;
    height: 150px;
    width: 300px;
    float: left;
}
#div2 {
    border: 3px solid green;
    height: 150px;
    margin-left: 300px;
}*/

/*也可以成功，跟第一个没有区别*/
/*#div1 {
    border: 3px solid purple;
    height: 150px;
    width: 300px;
    display: inline-block;
    float: left;
}
#div2 {
    border: 3px solid green;
    height: 150px;
    background-color: #aaa;
    margin-left: 300px;
}*/

/*使用position的方法，可行*/
/*.father {
    position: relative;
}
#div1 {
    border: 3px solid purple;
    height: 150px;
    width: 300px;
}
#div2 {
    border: 3px solid green;
    height: 150px;
    background-color: #aaa;
    position: absolute;
    left: 300px;
    top: 0;
    right: 0;
}*/
