.people {
  display: flex;
}
.photo {
  flex-grow: 0;
}
.info {
  flex-basis: 250px;
  flex-grow: 1;
  padding-left: 20px;
  /*border: 1px solid red;*/
}
.info2 {
  flex-basis: 200px;
  flex-grow: 1;
  padding-top: 15px;
  /*border: 1px solid red;*/
}
.info2 li, .info li {
  list-style-type: none;
  font-size: .9em;
  line-height: 1.5;
}
.info li:first-child {
  font-size: 1.1em;
  font-weight: bold;
  padding: 5px 0;
}
.article .item img {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 2px;
}
.article .students img {
  border-radius: 20px;
}

.people.big {
  margin: 15px 20px 10px 10px;
}
.big img {
  width: 110px;
  height: 140px;
}
.big .info {
  padding-top: 5px;
  padding-left: 40px;
}

.small img {
  width: 100px;
  height: 125px;
}

.people.small {
  margin: 10px;
}
/********************************students -flex***********************************/
.students-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}
.people {
  /*border: 1px solid red;*/
  flex-basis: 280px;
  flex-grow: 1;
}
