html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body,div,ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -.5em;
}
sub {
  bottom: -.25em;
}
img {
  border: 0;
}
hr {
  height: 0;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
pre {
  overflow: auto;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}

/*------------------初始化完成----------------------------*/
body {
  font-family: "Microsoft Yahei", 宋体,Arial, sans-serif;
  color: #333;
}
.container {
  /*background-color: lightgrey;*/
}
ul.row {
  /*overflow: hidden;*/
}
.row li {
  display: inline-block;
  float: left;
}
header > .logo {
  font-size: 1.45em;
}
.small-title {
  font-size: .65em;
}
nav li {
  font-size: 1em;
}
.aside li {
  font-size: 16px;
}
.aside .aside-title li {
  color: #632363;
  font-size: 22px;
  cursor: default;
}
p {
  font-size: .9em;
  line-height: 1.5;
  text-indent: 1.8em;
  text-align: justify;
}
.p-innerlist {
  font-size: 14px;
  line-height: 1.5;
}
.p-innerlist li {
  padding: 5px 0;
}
p.small-p {
  line-height: 1;
}
a.download {
  padding: 0 10px;
  text-decoration: none;
}
a.download:hover > .icon-file-text2:before {
  color: #ffc000;
  font-size: 1.1em;
}
.icon-file-text2:before {
  color: #333;
  font-size: .9em;
}
h3 {
  border-bottom: 2px solid #ffc000;
  color: #5f497a;
  font-size: 1.3em;
  font-weight: normal;
  padding-bottom: 8px;
  margin: 2.5em 0 0 0;
}
h4 {
  border-bottom: 1.5px dashed #ffc000;
  color: #5f497a;
  font-size: 1em;
  font-weight: normal;
  padding-left: 1em;
  padding-bottom: 5px;
}
h5 {
  font-size: .83em;
  font-weight: bold;
  color: #222;
  margin: .5em 0;
}
/*------------------------header----------------------------*/
header {
  position: relative;
  background-color: #333;
  color: #ddd;
  height: 110px;
  min-width: 1000px;
}
header > .logo {
  position: absolute;
  left: 5%;
}
.logo > a {
  color: #ddd;
}
.logo > a:hover {
  color: #fff;
}
.logo-img {
  display: inline-block;
  float: left;
  margin-top: 10px;
}
.logo-img img {
  border-radius: 10px;
  width: 90px;
  height: 90px;
}
.title {
  display: inline-block;
  margin: 30px 0 0 5px;
  text-align: center;
}
.main-title {
  margin: 0 0 5px 0;
}
.small-title {
  padding-left: 10px;
}

header > nav {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 7%;
}
nav li {
  cursor: pointer;
  padding: 0 8px 5px 8px;
  margin: 0 12px 5px 12px;
  border-bottom: 2px solid transparent;
  position: relative;
}
nav li a {
  color: #ddd;
  text-decoration: none;
  padding: 0 0 5px 0;
}
nav li a:hover {
  color: #fff;
}
nav li + li:before {
  content: '|';
  color: #ddd;
  position: absolute;
  left: -13px;
}
nav li:hover {
  border-bottom: 2px solid #fff;
}

li.active:after {
  content: " ";
  width: 0px;
  height: 0px;
  border: 18px solid transparent;
  border-top-color: #333;
  position: absolute;
  top: 120%;
  left: 50%;
  margin-left: -18px;
}
/*------------------------aside----------------------------*/

.container {
  min-height: 750px;
}
section {
}
.container {
  max-width: 1150px;
  /*border: 1px solid purple;*/
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.container.index {
  display: block;
}
.container::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.aside {
  flex-basis: 210px;
  flex-grow: 0;
  padding-left: 10px;
  margin-top: 20px;
}
.fixed-aside {
  position: fixed;
  top: 20px;
  width: 210px;
  margin-bottom: 10px;
}
.fixed-aside:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.aside li {
  list-style: none;
  cursor: pointer;
}
.aside li > a {
  display: block;
  color: #333;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
}
.aside .aside-title {
  border-bottom: 3px solid #632363;
  margin-left: -10px;
}
.aside .aside-title li {
  padding-bottom: 5px;
}

.aside .aside-list1 li > a {
  padding: 12px 0 12px 15px;
}
.aside .aside-list2 {
  margin-left: 30px;
}
.aside .aside-list2 li {
  list-style-type: none;
}
.aside .aside-list2 li > a{
  padding: 10px 0 10px 10px;
  background: url(../images/list.gif) no-repeat 0 20px;
}
.aside li:hover {
  color: #632363;
  background-color: #eee;
}
.aside li > a.current {
  border-bottom: 2px solid #ffc000;
}
.article {
  flex-basis: 210px;
  flex-grow: 1;
  /*border: 1px solid blue;*/
  margin-left: 50px;
}
.article-box {
  width: 980px;
  margin: 0 auto;
}
.article-box h3 {
  text-align: center;
}
.article-box .article-time {
  display: block;
  padding: 5px;
  font-size: .8em;
  text-align: center;
  color: #666;
}
.article-box .article-time span {
  padding: 0 15px;
}


.news-box {
  /*border: 1px solid red;*/
  width: 980px;
  margin: 0 auto;
}
.news-lists {
  /*list-style-image: url(../images/list.gif);*/
  list-style-type: none;
  font-size: 14px;
  padding: 10px;
}
.news-lists a {
  background: url(../images/list.gif) no-repeat 10px 22px;
  display: block;
  color: #333;
  text-decoration: none;
  padding: 15px 15px 15px 25px;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.news-lists a:hover .news-title {
  color: #f90;
  /*text-decoration: underline;*/
}
.news-lists > .item .news-title {
  display: block;
  margin-right: 100px;
}
.news-lists > .item .news-time {
  position: absolute;
  right: 10px;
  top: 15px;
  color: #888;
}

.img-center {
  text-align: center;
}
.img-center img {
  margin: 0 20px;
}
.img-center .img-title {
  display: block;
  font-size: .9em;
}
/*------------------------footer----------------------------*/
footer {
  clear: both;
  padding: 15px 5% 5px 5%;
  background-color: #333;
  color: #b0b0b0;
}
footer a {
  color: #b0b0b0;
  text-decoration: none;
}
footer a:hover {
  color: #fff;
}
footer li {
  list-style: none;
}
.inline {
  display: inline-block;
  /*border: 1px solid red;*/
}
.footer-top .friend-link,
.footer-top .us{
  font-size: 14px;
}
.footer-bottom {
  font-size: .9em;
}
.footer-bottom {
  text-align: center;
  padding: 3px 0 0 0;
  margin-top: 10px;
  border-top: .5px solid rgba(200,180,180,0.5);
}

.footer-top {
  height: 130px;
  /*border: 1px solid blue;*/
}
.footer-top .friend-link {
  float: left;
  height: 100%;
  min-width: 35%;
  max-width: 40%;
  padding: 30px 0 30px 20px;
  border-right: .5px solid rgba(200,180,180,0.5);
  position: relative;
}
.footer-top .friend-link li{
  padding: 5px;
  min-width: 45%;
}
.footer-top .friend-link li.min-title {
  position: absolute;
  top: 0;
  left: -5px;
}
.min-title > .icon-smile {
  /*color: #ddd;*/
  font-size: 14px;
}
.footer-top .friend-link li.links{
  float: left;
}

.footer-top .address {
  float: left;
  min-width: 30%;
  max-width: 35%;
  height: 100%;
  padding: 20px 0 30px 60px;
  font-size: 16px;
  /*border-right: .5px solid rgba(200,180,180,0.5);*/
}
.footer-top .address li {
  padding: 10px;
}
.icon-envelop::before,
.icon-location2:before {
  /*color: #ddd;*/
}
.footer-top .us {
  float: right;
  min-width: 15%;
  height: 100%;
  padding: 10px 0 30px 20px;
}
.footer-top .us li {
  padding: 5px;
}

/*------------------------hint----------------------------*/
.hint > li {
  display: inline-block;
  padding: 20px 10px 10px;
  background-color: rgba(0,0,0,.3);
  border-radius: 5px;
}
.fixed-hint-top {
  position: fixed;
  bottom: 20%;
  right: 20px;
}
.hidden {
  display: none;
}
.hint > li > a {
  text-decoration: none;
  text-align: center;
  color: #c329dd;
}
.hint .icon-ctrl:before {
  font-size: 2em;
  position: absolute;
  top: 5px;
}
.hint > li:hover {
  background-color: rgba(0,0,0,.6);
}
.hint > li:hover > a {
  color: #ddd;
}
.hint > li:hover .icon-ctrl:before {
  font-size: bold;
}
/*---------------------------table--------------------------------*/
table {
  margin: 0 auto;
  width: 96%;
}
table th {
  font-size: 1.1em;
  text-align: left;
  padding: 5px 20px;
  border-bottom: 2px solid #aaa;
  /*background-color: rgb(199, 116, 232);*/
}
table td {
  padding: 0 20px;
}
table tr {
  font-size: .9em;
  text-align: left;
  line-height: 2.7;
  border-bottom: 1px solid #ccc;
}
table tr:first-child {
  /*background-color: rgb(209, 180, 237);*/
}
table tr:nth-child(2n+1) {
  /*background-color: rgb(180, 120, 154);*/
}
table tr:not(:first-child):hover {
  background-color: #eee;
}
