.image-panel {
  display: block;
  position: relative;
  width: 960px;
  height: 320px;
  margin: 10px auto;
  /*border: 1px solid red;*/
}
.image-panel li {
  list-style-type: none;
}
.image-panel > .image-list img {
  width: 960px;
  height: 320px;
}

.image-list {
  width: 960px;
  height: 320px;
  overflow: hidden;
  position: relative;
}
.image-item > img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
.index-back {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 12;
  color: white;
}
.index-back p {
  margin-top: 10px;
}
.index-list {
  position: absolute;
  bottom: 10px;
  right: 20px;
  z-index: 14;
}
.index-item {
  display: inline-block;
  width: 35px;
  height: 10px;
  margin: 0 5px;
  background-color: #ca23d2;
}

.current-index.index-item,
.index-item:hover {
  background-color: rgb(135, 14, 105);
}
.direction-item {
  display: inline-block;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  padding: 0;
  width: 30px;
  height: 50px;
  line-height: 48px;
  /*background-color: #ca23d2;*/
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  z-index: 16;
}
.direction-item:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.direction-item.icon-left {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -25px;
}
.direction-item.icon-right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
/*******************************之后的内容部分**********************************/
.index-news {
  width: 80%;
  margin: 0 auto;
}
.news-title .icon-star-full::before {
  color: red;
}
